<div id="delete_by" style="margin-top: 70px">
    <center>
        <h1>Delete Company</h1>
        <p>How would you like to search a company for delete?</p>
        <table border="0">
            <button style="background-color: #1F497D; color: white;" type="submit" value="Send" class="btn btn-outline-dark mr-3" ng-click="show_delete_by_searching()">Search by name or RSSD_ID</button>
            <button style="background-color: #1F497D; color: white;" type="submit" value="Send" class="btn btn-outline-dark" ng-click="show_delete_by_filling()">Manual search</button>
        </table>
    </center>
</div>