<div id="delete_by_searching">
    <center>
        <p>Fill in the name or the RSSD_ID value<br>
            and search companies to delete</p>
        <table border="0">
            <form method="Post">
                <tr><td>Company Name: </td><td><input class="form-control" type="text" name="companyName" id="companyNameSearched" placeholder="type here.."></td></tr>
                <tr><td>RSSD_ID: </td><td><input class="form-control" type="text" name="rssd_id" id="companyIdSearched" placeholder="type here.."><br></td></tr>
            </form>
            <tr><td><div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" style="width: fit-content;background-color: #1F497D; color: white;" href="#" role="button" id="dropdownMenuLinkDelete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By:
                </a>
                <div style="background-color: #1F497D; color: white;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a style="color: white;" class="dropdown-item" href="#" ng-click="deleteFilterBy('Contains')">Contains</a>
                    <div class="dropdown-divider" style="color: white;"></div>
                    <a style="color: white;" class="dropdown-item" href="#" ng-click="deleteFilterBy('Equals')">Equals</a>
                </div>
            </div></td><td><button style="background-color: #1F497D; color: white;" type="submit" value="Send" class="btn btn-outline-dark" ng-click="showDeleteResults()"><i class="fas fa-search"></i>   Search</button>
                <button style="background-color: #1F497D; color: white;" type="reset" value="Reset form" class="btn btn-outline-dark" ng-click="clearDeleteBySearch()"><i class="fas fa-eraser"></i>    Clear</button></td></tr>
        </table>
    </center>
</div>

<div class="alert alert-danger alert-dismissible" id="no_filter">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Oops!</strong> Couldn't search companies, please choose the way you wish to filter your results.
</div>

<div id="searching_for_results">
    <h4>Searching...</h4>
    <div class="loader"></div>
</div>