<div id="home">
	<center>
		<h1 style="margin-top: 60px">
			Final Project for Ami & Tami <i class="fas fa-industry"></i>
		</h1>
	</center>


	<img src="img/bank_2.png" alt="" height="200" width="200">
	<div class="container">
		<h1>My Bootstrap Page</h1>
		<p>This is some text.</p> 
	</div>
	<button type="button" class="btn btn-default" ng-click="show_splunk()" >show companies statistic</button>
	<div id="splunk" style="display: none">
		<embed src='http://localhost:8000/en-US/app/search/cityhtml2' width='800px' height='600px' style='overflow:auto;' allowfullscreen></embed>
	</div>
    <button type="button" class="btn btn-default" ng-click="azure()">azure</button>



</div>