<div id="home">

		<h1 style="margin-top: 60px">
			Final Project for Ami & Tami <i class="fas fa-industry"></i>
		</h1>


	<img src="../img/bank_2.png" alt="" height="200" width="200"/>
	<div class="container">
		<h1>My Bootstrap Page aviv</h1>
		<p>This is some text.</p> 
	</div>
	<button type="button" class="btn btn-default" ng-click="show_splunk()" >show companies statistic</button>
	<div id="splunk" style="display: none">
		<embed src='http://localhost:8000/en-US/app/search/cityhtml2' width='800px' height='600px' style='overflow:auto;' allowfullscreen>
	</div>
    <button type="button" class="btn btn-default" ng-click="azure()">azure</button>

	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Dropdown button
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<a class="dropdown-item" href="#">Something else here</a>
		</div>
	</div>

</div>