<div id="stats" style="margin-top: 95px">


    <div class="firstStats" style="height: fit-content">
        <div style="width: 33%; height: 33%; display: inline-block">
            <canvas id="ProductsDoughnutChart"></canvas>
        </div>

        <div style="width: 33%; height: 33%; display: inline-block">
            <canvas id="IndustryDoughnutChart"></canvas>
        </div>

        <div style="width: 33%; height: 33%; display: inline-block">
            <canvas id="ConnectionDoughnutChart"></canvas>
        </div>
    </div>


    <div class="secondStats" style="height: fit-content">
        <div>
            <h4>Show 5 Biggest Company By Number Of Relation</h4>

            <span ng-repeat="connection in distinctConnections">
                <label>
                    <input type="checkbox" value="" ng-false-value="0" ng-true-value="1"
                           ng-model="connection.isChecked" >
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    {{connection.name}}
                </label>
            </span>
        </div>

        <div style="width: 70%; height: 20%; display: inline-block">
            <canvas id="stackedBar"></canvas>
        </div>

    </div>



</div>