<div id="new_file" style="margin-top: 70px">

    <h1 style="text-align: center;">Insert New File</h1>

            <p>Please select the file you wish to upload</p>

            <form method="post" enctype="multipart/form-data">
                <table border="0" align="center">

                    <tr>
                        <td>
                            <input type="file" ng-model="myFileName" file-reader="fileContent" file-model="myFile"/>
                    <!--<tr><td><input type="file" name="file" onchange="angular.element(this).scope().service(this.files)"/>-->
                            <input style="background-color: #1F497D; color: white;" type="submit" name="submit" value="Upload" class="btn btn-outline-dark" ng-click="uploadFile()"/>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <div class="form-check">
                                <label>
                                    <input  type="radio" name="radio"  id="replaceData" checked>

                                        Replace data for existing companies
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check">
                                <label>
                                    <input type="radio" name="radio" id="dontReplaceData">

                                    Don't replace data for existing companies
                                </label>
                            </div>
                        </td>
                    </tr>-->
                </table>
            </form>
        </div>

    <div class="alert alert-success alert-dismissible" id="added_file_successfully" style="display: none">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> File added successfully.
    </div>

    <div class="alert alert-danger alert-dismissible" id="couldnt_add_new_file" style="display: none">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oops!</strong> Couldn't add file.
    </div>

