<div id="new_file" style="margin-top: 70px">
    <h1 style="text-align: center; font-family: Arial Black, Gadget, sans-serif; font-size:4vw">Insert a New File</h1>
    <center>
        <font face="Arial Black">
            Please select the file you wish to upload<br>
        </font>
        <font face="Arial">
            <table border="0">
            <form method="post" enctype="multipart/form-data">
                <tr><td><input name="selectedFile" type="file" id="uploadedFile"/>
                <input type="submit" name="submit" value="Upload" class="btn btn-outline-dark" ng-click="uploadFile()"/></tr></td><br>
                <tr><td><div class="radio">
                    <label><input type="radio" name="optradio" id="replaceData" checked> Replace data for existing companies</label>
                </div></tr></td>
                <tr><td><div class="radio">
                    <label><input type="radio" name="optradio" id="dontReplaceData"> Don't replace data for existing companies</label>
                </div></tr></td>
            </form>
            </table>
        </font>
    </center>
</div>

<div class="alert alert-success alert-dismissible" id="added_file_successfully">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> File added successfully.
</div>

<div class="alert alert-danger alert-dismissible" id="couldnt_add_new_file">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Oops!</strong> Couldn't add file.
</div>
 <!--action="<?php echo $_SERVER['PHP_SELF'];?>"
 action="/roni/#"
 ng-model="selectedUploadedFile"
 class="form-control"-->
