<!-- Static navbar -->
<div id="nav">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">


			<a class="navbar-brand" href="#" ng-click="show_home()"><img src="img/fei_logo.png" height="45" width="90"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
					aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#" ng-click="show_home()">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true">
							</span>
							Home
						</a>
					</li>
					<li class="nav-item" >
						<a class="nav-link" href="#" ng-click="">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true" >
							</span>
							About Us
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" ng-click="show_search()">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true">
							</span>
							Search
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" ng-click="">
							<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true">
							</span>
							Update
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" ng-click="show_stats();get_companies()">
								<span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true">
								</span>
							Statistics
						</a>
					</li>

                </ul>
                <ul class="nav navbar-nav ml-auto justify-content-right">
                    <li class="nav-item ml-auto" >
                        <a class="nav-link" href="" id="loggin_user" readonly> </a>
                    </li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" href="#"  aria-haspopup="true"
						   aria-expanded="false">More</a>
						<div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#" ng-click="nav_bar_admin();">Admin</a>
							<a class="dropdown-item" href="#" ng-click="nav_bar_log_out();">Log Out</a>
						</div>
					 </li>
				</ul>
			</div>
			<!-- Items -->
	</nav>
		<!-- Static navbar -->
</div>	
