<!-- Static navbar -->
<div id="nav">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" id="home" class="brand"><img src="/img/fei_logo.png" height="45" width="90"></a>
			</div>
			<a href="#" ng-click="show_home()"> <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>&nbsp; Home</a>       
			<a href="#" ng-click=""> <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>&nbsp; about us</a>
			<a href="#" ng-click="show_search()"> <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>&nbsp; search</a>
			<a href="#" ng-click=""> <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>&nbsp; update</a>
			<a href="#" ng-click=""> <span class="glyphicon glyphicon glyphicon-option-vertical" aria-hidden="true"></span>&nbsp; statistics</a>


			<a href="" id="loggin_user" readonly> </a>
			


			<li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#" ng-click="nav_bar_admin();">Admin</a></li>
		          <li><a href="#" ng-click="nav_bar_log_out();">Log Out</a></li>
		        </ul>
		     </li>
			<!-- Items -->
			
		</div><!--/.container-fluid -->
	</nav>
		<!-- Static navbar -->
	<div>
		fvdvdfv	
	</div>
</div>	
