
<div id="search_comp">
  <div class="sidenav">
    <ul class="nav nav-tabs">

      <li class="sideTabs"><a href="#SearchByName" data-toggle="tab">
        Search company by name <i class="fas fa-address-book"></i></a></li>

      <li class="sideTabs"><a href="#SearchByCity" data-toggle="tab">Search company by city
        <i class="fas fa-map-marker-alt"></i></a></li>
    </ul>
  </div>

  <div class="sidenavRight">
    <div class="tab-content">
      <div class="tab-pane active" id="SearchByName">
        <h1>Search a Company by Name</h1>
        <p>Fill in the Search data.</p>

        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
              <div class="input-group">
                <div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Filter by</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#contains">Contains</a></li>
                    <li><a href="#is_equal">It's equal</a></li>
                  </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search company...">
                <span class="input-group-btn"></span>

                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Fill CIK">
                <span class="input-group-btn"></span>

                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Fill RSSD ID">
                <span class="input-group-btn"></span>

              </div>
            </div>
          </div>
        </div>

        <br>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

      </div>

      <div class="tab-pane col-sm-12" id="SearchByCity">
        <h1>Search a Company by City</h1>
        <p>Fill in the Search data.</p>

        <div class="col-sm-8">
          <label for="sel1">Select Country:</label>
          <select class="form-control" id="selectedCountry" ng-change="changeState(); getIframeSrc()" ng-model="selectedCountryValue">
            <option value="">Select..</option>
            <option value="ISRAEL">ISRAEL</option>
            <option value="UNITED_STATES">UNITED STATES</option>
            <option value="JAPAN">JAPAN</option>
          </select>
          <br>

          <div id = "stateOptions">
            <label for="sel1">Select State:</label>
            <select class="form-control" ng-change="getIframeSrc()" ng-model="selectedStateValue">>
              <option ng-repeat="state in arrayOfStates" value="{{state}}">{{state}}</option>
            </select>
          </div>
          <br>

          <!--<div class="col-sm-6" style="margin-bottom: 15px;">
              <div class="input-group">
                <span class="input-group-addon">Source</span>
                <span class="input-group-addon"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
                <select class="form-control" id="new_menual_alert_source" ng-change="alert_add_other({{new_menual_alert_source_value}})" ng-model="new_menual_alert_source_value">
                  <option value="CheckPoint">CheckPoint</option>
                  <option value="ClearSkySec">ClearSkySec</option>
                </select>
              </div>
            </div>-->



          <!-- <label for="sel1">Select Street:</label>
            <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" class="form-control">
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkWnF457L3XZOE9WJ1wfPl5X1qmFxXrC0&libraries=places&callback=initAutocomplete" async defer></script>-->

        </div>

        <div class="col-sm-8" id="googleMap">
          <iframe src="https://www.google.com/maps?&q=Israel&output=embed" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>

    </div>


  </div>
</div>