
<div id="search_compByName" style="margin-top: 70px">
  <div class="tab-pane active" id="SearchByName">
    <h1>Search For Company</h1>
      <br>
    <p>Enter company name, RSSD ID or Products</p>
      <br>

        <div class="container justify-content-center">
          <div class="row justify-content-center">
            <div class="col-xs-6 col-xs-offset-2">
              <div class="input-group">
                  <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle mr-3" style="width: fit-content;background-color: #1F497D;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Filter By: Contains
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#" ng-click="filterBy('Contains')">Contains</a>
                          <a class="dropdown-item" href="#" ng-click="filterBy('Equals')">Equals</a>
                      </div>
                  </div>
                <input type="hidden" name="nameSearched" value="nameSearched">
                <input type="text" class="form-control mr-3 text-center" name="x" id="nameSearched" placeholder="Search company...">
                <span  class="input-group-btn"></span>

                <input type="hidden" name="idSearched" value="idSearched">
                <input type="text" class="form-control mr-3 text-center" name="x" id="idSearched" placeholder="Fill RSSD ID">
                <span class="input-group-btn"></span>

                <input type="text" list="selectedProduct" placeholder=" Select Product..." ng-change="getIframeSrc()" ng-model="selectedProductValue">
                <datalist id="selectedProduct">
                    <option ng-repeat="product in products" value="{{product}}">{{product}}</option>
                </datalist>


              </div>
            </div>
          </div>
        </div>

        <br>
        <br>
        <button style="background-color: #1F497D; color: white;" class="btn btn-default" type="submit" ng-click="searchForResults('Name')">Search  <i class="fas fa-search"></i></button>

      <!--<iframe frameBorder='0' scrolling='no' width='800' height='420' src='https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=C0F5BBE2E9E14259A7A3973EF8B03625&symbol=AAPL&displayPrices=Area&dividends=true&splits=true&palette=Financial-Light'></iframe>
        -->

        <br><br>

      </div>

    </div>


  </div>
</div>
