<div id="searchResults" style="margin-bottom: 50px;" xmlns="http://www.w3.org/1999/html">

    <div id="foundResults" class="container justify-content-center">
        <div class="row justify-content-center" data-spy="scroll" data-target=".leftSideResults" data-offset="50">
            <div class="leftSideResults border rounded justify-content-center" id="leftSideResults" style="width: 250px;alignment: center">
                <table class="table">
                    <tr ng-repeat="result in resultsOfSearch">
                        <td>
                            <div class="card" id ="{{result.name}}" ng-click="showMoreAboutResult(result.name); createNewStockGraph(result.name);" >
                                <div class="card-header">
                                    <h4 class="card-title" style="font-size: 15px;font-weight: bold">{{result.name}}</h4>
                                </div>
                                <div class="card-body">
                                    <p style="font-size: 15px; display: inline-block">
                                        Address: {{result.address}}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>



            <div class="border rounded col-sm-8" id = "rightSideResults" >
                <div id="askToSelectResult">
                    Select Search Result to show more..
                </div>
                <div id="selectedResult">

                    <ul class="nav nav-tabs border rounded" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab_GeneralInfo" href="#GeneralInfo" role="tab" data-toggle="tab" ng-click="setCurrentTabSearch(true)">General Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  id="tab_Competitors" href="#Connections" role="tab" data-toggle="tab" ng-click="get_python();setCurrentTabSearch(false)">Connections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  id="tab_Stock" href="#Stock" role="tab" data-toggle="tab" ng-click="setCurrentTabSearch(false)">Stock</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  id="tab_Articles" href="#Articles" role="tab" data-toggle="tab" ng-click="setCurrentTabSearch(false)">Articles</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane container active" id="GeneralInfo">
                            <div id="GeneralDiv" style="height: fit-content">
                                <div class="container-fluid titleOfGeneralResult">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <br>
                                            <h3 id="selectedCompanyName" style="margin-bottom: 2px"></h3>
                                            <p id="wikiNameOfResult" style="font-size: medium; color: #1f497d; margin-bottom: 2px"></p>
                                            <h4 id="secondTitleResult"></h4>
                                        </div>
                                        <div class="col-sm-4" style="margin-top: 20px">
                                            <img class ="logoImg" id="companyLogo" src="" alt="logo" height="100" width="150">
                                        </div>
                                    </div>
                                </div>

                                <div class="products" style="margin-top: 20px">

                                    <div class="container justify-content-center">
                                        <div class="row justify-content-center">
                                            <div class="badge badge-pill badge-info" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;
                                                cursor: hand;" ng-repeat="product in resultProducts" ng-click="update_search_by_product(product)">{{product}}</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="container-fluid titleOfGeneralResult" style="margin-top: 20px">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <p id="summaryOfResult"></p>
                                        </div>
                                        <div class="col-sm-5">
                                            <table class="table tableOfGeneralInfo">
                                                <tr>
                                                    <td>RSSD ID</td>
                                                    <td id="rssdOfResult"></td>
                                                </tr>
                                                <tr>
                                                    <td>Address</td>
                                                    <td id="addressOfResult"></td>
                                                </tr>
                                                <tr>
                                                    <td>Founded</td>
                                                    <td id="foundedOfResult"></td>
                                                </tr>
                                                <tr>
                                                    <td>Revenue</td>
                                                    <td id="revenueOfResult"></td>
                                                </tr>
                                                <tr>
                                                    <td>Number Of Employees</td>
                                                    <td id="numOfEmployeesOfResult"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane container fade col-sm-12" id="Connections">

                            <div id="3d-graph" width="600px" ></div>

                            <div class="container justify-content-center">
                                <div class="row justify-content-center">
                                    <div class="col-sm-3" style="padding-left: 0">
                                        <span style="color: #31a9bc;font-size: 15px"><i class="fas fa-circle"></i>Selected Company</span>
                                    </div>
                                    <div class="col-sm-3" style="padding-left: 0">
                                        <span style="color: #464f52;font-size: 15px"><i class="fas fa-circle"></i>Related Company</span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2" style="padding-left: 0">
                                        <span style="color: red;font-size: 15px"><i class="fas fa-minus"></i>Competitors</span>
                                    </div>
                                    <div class="col-sm-2" style="padding-left: 0">
                                        <span style="color: #31963e;font-size: 15px"><i class="fas fa-minus"></i>Sisters</span>
                                    </div>
                                    <div class="col-sm-2" style="padding-left: 0">
                                        <span style="color: blue;font-size: 15px"><i class="fas fa-minus"></i>Subsidiaries</span>
                                    </div>
                                    <div class="col-sm-3" style="padding-left: 0">
                                        <span style="color:#c9cb00;font-size: 15px"><i class="fas fa-minus"></i>Cooperative-Services</span>
                                    </div>
                                    <div class="col-sm-3" style="padding-left: 0">
                                        <span style="color:black;font-size: 15px"><i class="fas fa-minus"></i>Other Connections</span>
                                    </div>

                                </div>
                                <hr>
                                <div class="row justify-content-center" id="graph_comp_name">
                                    Click on Node or Connection for Details
                                </div>

                                <div class="row " id="graphDetails" >
                                    <div class="col-sm-8">
                                        <table class="table tableOfGeneralInfo" style="font-size:15px">
                                            <tr>
                                                <th colspan="2" id="graph_name" class="justify-content-center"></th>
                                            </tr>
                                            <tr>
                                                <td width="100">RSSD ID</td>
                                                <td id="graph_rssd"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Address
                                                </td>
                                                <td  id="graph_country">

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-4" id="graph_btn">

                                    </div>




                                    <!--<div class="col-sm-2" >
                                        RSSD ID
                                    </div>
                                    <div class="col-sm-2" id="graph_rssd">
                                        RSSD ID
                                    </div>
                                    <div class="col-sm-2" >
                                        Address
                                    </div>
                                    <div class="col-sm-6" id="graph_country" >
                                        country
                                    </div>-->
                                </div>
                                <!--<div class="row" id="graph_btn">

                                </div>-->
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane container fade" id="Stock">

                            <div id="StockFound">
                                <br>
                                <h3 id="stockOf"></h3>
                                <h5 id="tradedAsTitle"></h5>
                                <div class="tradingview-widget-container">
                                    <div id="tradingview_dd592"></div>
                                    <div class="tradingview-widget-copyright">
                                        <div id="fillHrefForStock">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="StockNotFound">
                                <br><br>
                                <h3>No Data About Stock Found</h3>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane container fade" id="Articles">
                            <br>
                            <h3 id="articlesTitle"></h3><br>

                            <div id="articlesCarousel" class="carousel slide container-fluid" data-ride="carousel">
                                <ul class="carousel-indicators">
                                    <li data-target="#articlesCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#articlesCarousel" data-slide-to="1"></li>
                                    <li data-target="#articlesCarousel" data-slide-to="2"></li>
                                </ul>

                                <div class="carousel-inner" id="resultNews" style="padding: 10px 45px 30px 45px">

                                </div>

                                <a class="carousel-control-prev" href="#articlesCarousel" data-slide="prev">
                                <i class="fa fa-chevron-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#articlesCarousel" data-slide="next">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>

                            <div id="notFoundNews">
                                <h3>No Data About News Found</h3>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="noResults">
        <h4>No results found !</h4>
    </div>

    <div id="loadingResults">
        <h4>Searching..</h4>
        <div class="loader"></div>
    </div>


</div>