
<div id="searchResults">

    <div id="foundResults" class="container">
        <div class="row" data-spy="scroll" data-target=".leftSideResults" data-offset="50">
            <div class="leftSideResults border rounded col-sm-4">
                <table class="table">
                    <tr ng-repeat="result in resultsOfSearch">
                        <td>
                            <div class="card" ng-click="showMoreAboutResult(result.name); createNewStockGraph(result.name)" >
                                <div class="card-header">
                                    <h4 class="card-title">{{result.name}}</h4>
                                    <p class="card-text">financial company</p>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Country: {{result.country}}<br>
                                        State: {{result.state}}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>



            <div class="rightSideResults border rounded col-sm-8">
                <div id="askToSelectResult">
                    Select Search Result to show more..
                </div>
                <div id="selectedResult">

                    <ul class="nav nav-tabs border rounded" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#GeneralInfo" role="tab" data-toggle="tab">General Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Competitors" role="tab" data-toggle="tab">Competitors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Subsidiaries" role="tab" data-toggle="tab">Subsidiaries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Stock" role="tab" data-toggle="tab">Stock</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="GeneralInfo">
                            GeneralInfo
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Competitors">
                            Competitors
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Stock">
                            <div class="tradingview-widget-container">
                                <div id="tradingview_a5966"></div>
                                <div class="tradingview-widget-copyright">
                                    <div id="fillHrefForStock">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--<div id="foundResults" class="container">
        <div class="row justify-content-center">
            <div ng-repeat="result in resultsOfSearch" class="card">
                <div class="card-header">
                    <h4 class="card-title">{{result.name}}
                    <p class="card-text">financial company</p>
                </div>
                <div class="card-body">
                    <ul class="ulOfCard">
                        <li class="liOfCard"><div class="titleOfLi">About us</div> +1-111-111-11-11</li>
                        <li class="liOfCard"><div class="titleOfLi">Address</div>
                            <p>
                                Country: {{result.country}}<br>
                                State: {{result.state}}
                            </p>
                        </li>
                        <li class="liOfCard"><div class="titleOfLi">About us</div>+1-111-111-11-11</li>
                    </ul>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Show My Competitors</button>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">Show My Subsidiaries</button>
                </div>
            </div>
        </div>

    </div>-->

    <div id="noResults">
        <h4>No results found !</h4>
    </div>

    <div id="loadingResults">
        <h4>Searching..</h4>
        <div class="loader"></div>
    </div>


</div>