
<div id="search_compByName" style="margin-top: 70px">
  <div class="tab-pane active" id="SearchByName">
    <h1>Search a Company by Name</h1>
    <p>Fill in the Search data.</p>

        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
              <div class="input-group">
                  <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" style="width: fit-content" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Filter By:
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#" ng-click="filterBy('None')">None</a>
                          <a class="dropdown-item" href="#" ng-click="filterBy('Contains')">Contains</a>
                          <a class="dropdown-item" href="#" ng-click="filterBy('Equals')">Equals</a>
                      </div>
                  </div>
                <input type="hidden" name="nameSearched" value="nameSearched">
                <input type="text" class="form-control" name="x" id="nameSearched" placeholder="Search company...">
                <span class="input-group-btn"></span>

                <input type="hidden" name="cikSearched" value="cikSearched">
                <input type="text" class="form-control" name="x" id="cikSearched" placeholder="Fill CIK">
                <span class="input-group-btn"></span>

                <input type="hidden" name="idSearched" value="idSearched">
                <input type="text" class="form-control" name="x" id="idSearched" placeholder="Fill RSSD ID">
                <span class="input-group-btn"></span>

              </div>
            </div>
          </div>
        </div>

        <br>
        <button class="btn btn-default" type="submit" ng-click="searchForResults('Name')">Search  <i class="fas fa-search"></i></button>

        <br><br>

      </div>

    </div>


  </div>
</div>