<div id="show_update_results">
    <center>
        <br>
        <p>Select the the fields and the companies you wish to update</p>
        <table border="0">
            <form method="Post">
                <tr><td>Details to Update: </td><td><select class="custom-select mr-sm-2" name="compDetailsToUpdateBySearch" id="compDetailsToUpdateBySearch" ng-model="selectedCompDetailsToUpdateBySearch" placeholder="select field..">
                    <option> </option>
                    <option>name</option>
                    <option>street</option>
                    <option>city</option>
                    <option>country</option>
                    <option>state</option>
                </select></td><td></td></tr>
                <tr><td>New Information: </td><td><input type="text" name="ToUpdateBySearch" id="newInfoToUpdateBySearch" class="form-control" ng-model="selectedNewInfoToUpdateBySearch" placeholder="type here.."></td>
                <td><button type="reset" value="Reset form" class="btn btn-outline-dark" ng-click="clearInfoUpdateBySearch()"><i class="fas fa-eraser"></i>    Clear</button></td></tr>
            </form>
        </table>
        <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Company name</th>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
                <th>RSSD_ID</th>
                <th>Update?</th>
            </tr>
            <tr ng-repeat="result in resultsOfUpdateSearch">
                <td>{{result.name}}</td>
                <td>{{result.street}}</td>
                <td>{{result.city}}</td>
                <td>{{result.country}}</td>
                <td>{{result.state}}</td>
                <td>{{result.RSSD_ID}}</td>
                <td><button type="submit" value="Send" class="btn btn-outline-dark" id="{{result.id}}" ng-click="updateSearchResults(result.id)"><i class="fas fa-user-edit"></i>   Update</button></td>
            </tr>
        </table>
    </center>
</div>

<div id="updating">
    <h4>Updating...</h4>
    <div class="loader"></div>
</div>

<div class="alert alert-success alert-dismissible" id="updated_comp_successfully">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Company updated successfully.
</div>

<div class="alert alert-danger alert-dismissible" id="couldnt_update_comp">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Oops!</strong> Couldn't update company.
</div>

<div class="alert alert-danger alert-dismissible" id="couldnt_find_update_results">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Oops!</strong> Couldn't find companies.
</div>