<div id="show_delete_results">
    <center>
    <p>Select the companies you wish to delete</p>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Company name</th>
            <th>Street</th>
            <th>City</th>
            <th>Country</th>
            <th>State</th>
            <th>RSSD_ID</th>
            <th>Delete?</th>
        </tr>
        <tr ng-repeat="result in resultsOfDeleteSearch">
            <td>{{result.name}}</td>
            <td>{{result.street}}</td>
            <td>{{result.city}}</td>
            <td>{{result.country}}</td>
            <td>{{result.state}}</td>
            <td>{{result.id}}</td>
            <td><button type="submit" value="Send" class="btn btn-outline-dark" ng-click="deleteSearchResults(result.name)"><i class="fa fa-trash"></i>   Delete</button>
                <!--<input ng-if="result.delete==1" type="checkbox" value=""  ng-false-value="0" ng-true-value="1"  ng-model="result.isChecked" checked disabled>
                <input ng-if="result.delete==0" type="checkbox" value="" ng-false-value="0" ng-true-value="1"  ng-model="result.isChecked" checked>--></td>
        </tr>
    </table>
    </center>
</div>

<div id="deleting">
    <h4>Deleting...</h4>
    <div class="loader"></div>
</div>