<div id="update_comp" style="margin-top: 70px">
    <h1>Update Existing Company</h1>
    <center>
        <p>Please select the field you wish to update by</p>
        <table border="0">
            <button type="submit" value="Send" class="btn btn-secondary mr-3" style="width: fit-content;background-color: #1F497D;" ng-click="show_update_comp_by_name()">Update by name</button>
            <button type="submit" value="Send" class="btn btn-secondary" style="width: fit-content;background-color: #1F497D;" ng-click="show_update_comp_by_ID()">Update by RSSD_ID</button>

        </table>
    </center>
</div>
